.title {
    background-color: #f00;
    transition: background-color 0.3s ease;
}
.title1{
    background-color: rgb(0, 238, 255);
    transition: background-color 0.3s ease;
}
.title2{
    background-color: rgb(255, 0, 153);
    transition: background-color 0.3s ease;
}
.title3{
    background-color: rgba(195, 0, 255, 0.582);
    transition: background-color 0.3s ease;
}